<div class="container inner-body">
  <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="6000">
      <!-- Menu -->
      <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
          <li data-target="#carousel" data-slide-to="2"></li>
      </ol>

      <!-- Items -->
      <div class="carousel-inner">

          <div class="item active">
              <img src="/assets/slide1-variation.png" alt="Slide 1" />
          </div>
          <div class="item">
              <img src="/assets/slide2-variation.png" alt="Slide 2" />
          </div>
          <div class="item">
              <img src="/assets/slide3-variation.png" alt="Slide 3" />
          </div>
      </div>
      <a href="#carousel" class="left carousel-control" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a href="#carousel" class="right carousel-control" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div>


  <div class="container" style:"margin-bottom:200px;">
    <div class="row">
      <div class="col-xs-2"><img id="doc-img" src="/assets/DrGarrity.jpg"></div>
      <div class="col-xs-10">
        <p class="font2" style="font-size: 12pt;  color:#444444;"><b>Dr William Garrity's Family Practice of Medicine</b> is based on comprehensive hospital training in internal medicine, pediatrics and osteopathic medicine.</p>
        <p class="font2" style="font-size: 12pt;  color:#444444;">It is believed the best approach to health conditions requires a combination of the most conservative methods available. To accomplish the goal we emphasize the importance of continuing education, so that the best care can be given to our patients at all times.</p>
        <br>
        <p class="font2" style="font-size:12pt;color:#777777;"><i>"My practice optimizes patient care so that they can truly be healthy throughout their lives. Living is more than just living long. It is quality living that is fundamentally most important."</i>
        <br>- Dr. Garrity DO/MD Board Certified</p>
      </div>
    </div>

  </div>
  <br>
  <div style="text-align: center;">______________</div>
  <br>
  <div class="container">
    <div>
      <h1 class='font2' style="color:#555555;text-align: center;">What is Osteopathic Medicine?</h1>
      <p class="font2" style="font-size: 14pt; color:#555555;text-align: center;">Osteopathic medicine is a distinct form of medical practice in the United States. Osteopathic medicine provides all of the benefits of modern medicine including prescription drugs, surgery, and the use of technology to diagnose disease and evaluate injury. It also offers the added benefit of hands-on diagnosis and treatment through a system of therapy known as osteopathic manipulative medicine. Osteopathic medicine emphasizes helping each person achieve a high level of wellness by focusing on health promotion and disease prevention.</p>
    </div>
    <br>
  </div>
</div>
