<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <!-- Menu -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <!-- Items -->
    <div class="carousel-inner">

        <div class="item active">
            <img src="/assets/slide1-variation.png" alt="Slide 1" />
        </div>
        <div class="item">
            <img src="/assets/slide2-variation.png" alt="Slide 2" />
        </div>
        <div class="item">
            <img src="/assets/slide3-variation.png" alt="Slide 3" />
        </div>
    </div>
    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-3"><img id="doc-img" src="/assets/DrGarrity.jpg"></div>
    <div class="col-xs-9">
      <h1>Welcome to CT Family Medicine</h1>
      <p>Dr William Garrity's Family Practice of Medicine is based on comprehensive hospital training in internal medicine, pediatrics and osteopathic medicine.</p>

      <p>It is believed the best approach to health conditions require a combination of the most conservative methods available. To accomplish the goal we emphasize the importance of continuing education, so that the best care can be given to our patients at all times.</p>
    </div>
  </div>

</div>
